# Sample buildout configuration file to install sphinx and nose.
# It is recommended to add comments in buildout configuration files.
# As any ConfigParser file, this one is made of sections.

[buildout]
# Main buildout section.
# The "parts" directive lists the parts to sections to execute.
# If "parts" is blank, then buildout will do nothing.
parts =
    sphinx-and-python
# Eggs to install. These ones can be shared by several parts.
# Add your dependencies here...
eggs =
    sphinx
    nose
    spam-blocklists
    whois
# Let's freeze versions in the [versions] section
versions = versions
develop-eggs-directory = lib/buildout/develop-eggs
downloads-directory = lib/buildout/downloads
eggs-directory = lib/buildout/eggs
installed = lib/buildout/.installed.cfg
parts-directory = lib/buildout/parts
# Development.
develop =
    ${buildout:directory}/

[sphinx-and-python]
# Install a bin/python interpreter with eggs declared in the main [buildout]
# section.
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = python

[versions]
# You can freeze versions manually here...
# But keep in mind that extensions like dumppickedversions or
# buildout-versions can help you!
